.page {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 1.5% solid;
    border-color: #edf106;
    padding: 1.25em;
}

.sidebar-menu {
    position: absolute;
    width: 20em;
    top: 1.25em;
    bottom: 1.25em;
    margin-right: 1.5em;
    transition: 1s;
}

.right-frame {
    position: absolute;
    right: 1.25em;
    left: 23.25em; 
    top: 1.25em;
    bottom: 1.25em;
    transition: 1s;
}
