@inherits LayoutComponentBase
@using ShoppingAssistantWebClient.Web.Pages
<PageTitle>ShoppingAssistantWebClient.Web</PageTitle>

<div class="page">
    <div class="sidebar-menu">
        <NavMenu/>
    </div>
    <div class="right-frame">
        @Body
    </div>
</div>