@inherits LayoutComponentBase
@using ShoppingAssistantWebClient.Web.Pages
@using Blazored.Modal

<PageTitle>CARTAID</PageTitle>
<head>
    <link rel="stylesheet" href="css/MainLayout.css" />
</head>

<CascadingBlazoredModal/>

<div class="page">
    <div class="sidebar-menu">
        <NavMenu/>
    </div>
    <div class="right-frame">
        @Body
    </div>
</div>
<footer>
    <span class="amazon-associate">As an Amazon Associate we earn from qualifying purchases.</span>
</footer>
