
.left_frame {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 1s;
}
.logo {
  height: 5em;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 1.5%;
}
.menu {
  position: absolute;
  width: 100%;
  top: 5em; 
  bottom: 0;
  border: 1.5px solid;
  border-color: #0052CC;
  border-radius: 0.6em;
  padding-top: 1.5%;
}
.elements_wishlisht {
  
  position: absolute;
  overflow-y: auto;
  top: 2.43em;
  width: 100%;
  bottom: 4em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.info_user {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 0 0 0.6em 0.6em;
  background-color: rgb(255, 255, 255);
  height: 3.6em;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-top: 1px solid #0165FF;
}
.logo_name {
  padding-top: 0.5em;
  padding-left: 0.3em;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: 600;
  overflow: hidden;
}
.logo img {
  float: left;
  height: 3.25em;
  width: 3.25em;
}
.wishlist_name {
  padding-left: 0.7em;
  width: 10.5em;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height:  2.5em;
  line-height: 2.5em;
}
.cont_wishlist {
  margin-top: 0.4375em;
  margin-bottom: 0.4375em;
  color: black;
  border-radius: 0.6em;
  font-size: 1.1em;
  width: 100%;
  height:2.5em;
  cursor: pointer;
}
.cont_wishlist:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}
.cont_wishlist:hover .button_delete_chat{
  visibility: visible;
}
.cont_wishlist:hover .button_open_card{
  visibility: visible;
}
.button_delete_chat {
  margin-top:  0.65em;
  margin-right: 1em;
  float: right;
  position: relative;
  visibility: hidden;
  height: 1.2em;
  width: 1.2em;
}
.button_open_card {
  margin-top: 0.65em;
  margin-right: 1em;
  float: right;
  visibility: hidden;
  height: 1.2em;
  width: 1.3em;
}
.elements_wishlisht::-webkit-scrollbar {
  border-radius: 20px;
  width: 0.2em;
}

.elements_wishlisht::-webkit-scrollbar-thumb {
  background-color: #0052CC; /* Колір позиції покажчика */
  border-radius: 10px; /* Закруглення країв позиції покажчика */
  width: 0.2em;
}

.add_chat {
  margin-bottom: 0.3125em;
  background-color: #0165FF;
  border-radius: 0.6em;
  font-size: 1.2em;
  width: 100%;
  height:2.5em;
  cursor: pointer;
  line-height: 2.5em;
}
.add_chat a {
  justify-content: center;
  align-items: center;
  border-radius: 0.6em;
  padding-left: 0.7em;
  text-decoration: none;
  color: #FFFFFF;
}
.plus {
  position: absolute;
  right: 1em;
  top: -0.1em;
  font-size: 1.9em; 
}

.user_name {
  padding-left: 0.4375em;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}
.info_user img {
  float: left;
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
}
.button_close_menu {
  position: relative;
  width: 1.43em;
  height: 1.23em;
  float: right;
  cursor: pointer;
  margin-top: 0.5em;
  margin-right: 1.30em;
}
.button_close_menu span {
  width: 20px;
  height: 1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4E4E4E;
}
.button_close_menu span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.button_close_menu span:nth-of-type(3) {
  top: calc(50% + 5px);
}