<div style="@leftFrameStyle" class="left_frame">


    <div class="logo">
        <img src="/images/logo.svg" alt="Logo site">
        <span class="logo_name">CARTAID</span>
    </div>

    <div class="menu">

        <a @onclick="ChangeButtonStyle" class="button_close_menu">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="elements_wishlisht">

            <div class="add_chat">
                <a href="/">
                    <span>Search</span>
                    <span class="plus" >+</span>
                </a>
            </div>

            <div class="wishlist_names">

                @foreach(var item in wishlist){
                <section class="cont_wishlist">
                    <div id="wishlist_id_@item.Id" class="wishlist_name">@item.Name</div>
                    <img class="button_delete_chat" src="/images/icon_delete.svg" alt="Delete wishlist">
                    <img class="button_open_card" src="/images/icon_open_card.svg" alt="Card open">
                </section>
                }
            </div>

        </div>

        <div class="line"></div>
        <div class="elements">
            <div class="info_user">
                <img src="/images/avatar.jpg" alt="Avatar user">
                <span class="user_name">Semen Semenov</span>
            </div>

        </div>


    </div>


</div>




@code {
    private string leftFrameStyle = "transform: translateX(0%);";

    private void ChangeButtonStyle()
    {
        if (leftFrameStyle.Contains("transform: translateX(0%);"))
        {
            leftFrameStyle = "transform: translateX(-110%);";
        }
    }

private List<Models.Wishlist> wishlist;

        protected override async Task OnInitializedAsync()
        {

            wishlist =  new List<Models.Wishlist>
            {
                new Models.Wishlist {Id = "0", Name = "Gift for Jessica", Type="product", CreateById="0"},
                new Models.Wishlist  {Id = "1", Name = "Secret Santa", Type="gift", CreateById="1"},
                new Models.Wishlist  {Id = "2", Name = "Mark’s Birthday", Type="product", CreateById="2"},
                new Models.Wishlist  {Id = "3", Name = "Garden tools", Type="product", CreateById="2"},
                new Models.Wishlist  {Id = "4", Name = "Phone charger ", Type="product", CreateById="2"},
                new Models.Wishlist  {Id = "5", Name = "Garden tools", Type="product", CreateById="2"}
            };

        }

}
