@page "/cart"

<div class="cart">
    <div class="head">
        <button class="back-button" @onclick="NavigateToMainPage"></button>
        <p class="header-text">Cart</p>
    </div>
    <div class="container">
        @foreach (var product in Products) {
            <div class="product-div">
                <img class="product-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe7MHcuWUvuNJsttl3MEVxEayUGVNH4tA2Ha0K4szpgKvH7QYuiaBa_hCzUgW96I6LXqM&usqp=CAU">
                <label class="product-description">@product.Description</label>
                <div class="button-row">
                    <img class="star" src="/images/star.png">
                    <label class="rating">@product.Rating</label>
                    @{
                        string price = "N/A";
                    }
                    <label class="price-label">@price</label>
                </div>
                <button class="button-amazon">
                    <img src="/images/amazon.png">
                </button>
            </div>
        }
    </div>
</div>

@code 
{
    [Inject]
    private NavigationManager NavigationManager {get; set;}
    private void NavigateToMainPage()
    {
        NavigationManager.NavigateTo("/Cards");
    }
}