
.cart {
    border-radius: 0.6em;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px;
    border: 1px solid #0052CC;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cart::-webkit-scrollbar {
    display: none;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.header-text {
    text-align: center;
    font-size: 12;
    color: rgba(0, 82, 204, 0.8);
}

.back-button {
    width: 15px;
    height: 15px;
    background-image: url("/images/back-button.svg"); 
    background-size: cover; 
    border: none;
    background-color: transparent;
    position: absolute;
    left: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 720px;
    overflow: auto;
}

.product-div {
    height: 190px;
    width: 130px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 0 10px 0 10px;
    margin: 15px 15px 15px 15px;
}

.product-img {
    height: 70px;
    width: 100%;
    align-self: center;
    display: block;
    margin: 10px;
}

.product-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.button-amazon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009FFF;
    border: none;
    border-radius: 10px;
    position: absolute;
    width: 85%;
    height: 27px;
    bottom: 10px;
}

.star {
    position: absolute;
    bottom: 45px;
}

.rating {
    position: absolute;
    bottom: 45px;
    left: 26px;
    height: 9px;
    width: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.button-row {
    display: flex;
}

.price-label {
    position: absolute;
    right: 10px;
    font-weight: bold;
    font-size: 14px;
    height: 16px;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    font-size: x-large;
    color: darkgrey;
    text-align: center;
    line-height: 1.5;
}

.error br {
    display: block;
    content: " "; 
    margin-bottom: 1em; 
}

.right-frame {
    position: absolute;
    right: 1.25em;
    left: 23.25em; 
    top: 1.25em;
    bottom: 1.25em;
    transition: 1s;
}

.button_open_menu {
    z-index: 2;
    width: 1.43em;
    height: 1.23em;
    position: absolute;
    top: 1.56em;
    left: 1.56em;
    cursor: pointer;
    visibility: hidden;
}
  
.button_open_menu span {
    width: 20px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4E4E4E;
}
  
.button_open_menu span:nth-of-type(2) {
    top: calc(50% - 5px);
}
  
.button_open_menu span:nth-of-type(3) {
    top: calc(50% + 5px);
}