@page "/chat/{chatId}"
<PageTitle>Gift for Jessica</PageTitle>

 <div class="right_frame" id="rightFrame">

            <div id="button_open" class="open_menu">
                <a class="button_open_menu" >
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

       
            <div class="new_chat">              
                <div class="chat_message">  
                    
                   
                    <div class="title_one_frame">Gift for Jessica</div>
                
                    <ul class="chat_box">

                        <li class="chat_outgoing">
                            <p>Give me product recommendation. Ask me questions if you need more directions. I am looking for: hub for my macbook to connect external monitors</p>
                        </li>
                        <li class=" chat_incoming">
                            <p>Sure! I can help you with that. I will ask you some leading questions. This is the first:
                            <br>
                            How many external monitors do you want to connect to your MacBook?</p>
                        </li>
                        <li class="chat_outgoing">
                            <p>7</p>
                        </li>  
                        <li class=" chat_incoming">
                            <p>Thank you. Here is the next question:
                            <br>
                            What type of external monitors do you have? (e.g., HDMI, DisplayPort, VGA)</p>
                        </li>

                    </ul>


                </div>  


                    <div class="chat_input">
                        <input class="input_messages" type="text" id="chatInput" placeholder="Describe what you are looking for....">
                        <img class="button_sende" src="/images/send.svg" alt="Send message"> 
                    </div>
                
            </div>

    </div>


<script>

    
            document.getElementById('button_open').addEventListener('click', changetyle);
</script>
@code{

        [Parameter] public string chatId { get; set; }

}




