.right_frame {
  position: relative;
  border: 0.09em solid;
  border-color: #0052CC;
  border-radius: 0.6em;
  height: 100%;
  width: 100%;
}

.button_open_menu {
  z-index: 2;
  width: 1.43em;
  height: 1.23em;
  position: absolute;
  top: 1.56em;
  left: 1.56em;
  cursor: pointer;
  visibility: hidden;
  @media screen and (max-width: 900px) {
    visibility: visible;
  }
}
.loading {
  margin: 0 auto;
  margin-top: 25%;
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button_open_menu span {
  width: 20px;
  height: 1.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4E4E4E;
}

.button_open_menu span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.button_open_menu span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.title_one_frame {
  padding-top: 1.25em;
  color: #0052CC;
  font-size: 1.0625em;
  text-align: center;
}

.title_two_frame {
  padding-top: 2.25em;
  padding-bottom: 1.5em;
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  @media screen and (max-width: 480px) {

    font-size: 1.7125em;

  }
}

.title_three_frame {
  padding-top: 3.75em;
  padding-bottom: 2.5em;
  color: #202124;
  font-size: 1.25em;
  text-align: center;
  font-weight: 400;
  @media screen and (max-width: 480px) {

    font-size: 1.0125em;
    padding-left: 4%;
    padding-right: 4%;

  }
}

.topic {
  font-size: 1.125em;
  text-align: center;
  line-height: 2.1875em;
  color: #009FFF;
  width: 15.625em;
  margin: 0 auto;
  @media screen and (max-width: 480px) {

    width: 11.875em;
    font-size: 0.9125em;

  }
}

.topic div {
  margin-top: 1.25em;
  border: 0.09em solid;
  border-color: #009FFF;
  border-radius: 0.6em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topic div a {
  color: #009FFF;
  text-decoration: none;
}

.switch {
  height: 2.8125em;
  width: 21.875em;
  margin: 0 auto;
  border: 0.09em solid;
  border-color: #EAEAEA;
  border-radius: 0.6em;
  text-align: center;
  position: relative;
  @media screen and (max-width: 480px) {
    height: 2.4125em;
    width: 16.875em;

  }
}

.switch_product {
  position: absolute;
  background-color: #0052CC;
  border-radius: 0.6em;
  margin: 0.3125em;
  width: calc(50% - 0.625em);
  height: calc(100% - 0.625em);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.8s;
  color: white;
}

.switch_gift {
  right: 0;
  position: absolute;
  border-radius: 0.6em;
  margin: 0.3125em;
  width: calc(50% - 0.625em);
  height: calc(100% - 0.625em);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.8s;
  color: #202124;
}
button::before {
  content: attr(text);

}

button:hover::before {
  content: attr(hover-text);
}
button {
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
}
.message {
  right: 0;
  position: absolute;
  border-radius: 0.6em;
  margin: 0.3125em;
  width: calc(50% - 0.625em);
  height: calc(100% - 0.625em);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.8s;
  color: #202124;
  padding: 4px; /* Добавьте подходящий отступ, если необходимо */
}
.hidden {
  display: none;
}

.show {
  display: block;
}
.chat_message {
  position: relative;
  overflow-y: auto;
  height: calc(100% - 5.5em);
  width: 100%;
}

.chat_input {
  background-color: #EAEAEA;
  position: absolute;
  display: inline-flex; /* Использовать inline-flex-контейнер */
  align-items: center;
  bottom: 2em;
  margin-left: 25%;
  width: 50%;
  border-radius: 0.6em;
  @media screen and (max-width: 750px) {
    margin-left: 15%;
    width: 70%;

  }
  @media screen and (max-width: 480px) {
    margin-left: 2%;
    width: 96%;

  }
}


.input_messages {
  width: 100%;
  height: 2.5em;
  font-size: 1.0625em;
  background-color: #EAEAEA;
  color: #4E4E4E;
  border-radius: 0.6em;
  border: none;
  padding: 0.625em 1.25em;
  outline: none;
}

.button_sende {
  float: right;
  cursor: pointer;
  line-height: 2.5em;
  margin-right: 0.8em;
  width: 1.8em;
  height: 1.7em;
}


.new_chat {
  padding-top: 0.5em;
  position: relative;
  height: 100%;
  width: 100%;
}


.chat_message::-webkit-scrollbar {
  border-radius: 20px;
  width: 0.2em;
}

.chat_message::-webkit-scrollbar-thumb {
  background-color: #0052CC;
  /* Колір позиції покажчика */
  border-radius: 10px;
  /* Закруглення країв позиції покажчика */
  width: 0.2em;
}